resources/auto_pptx/多変量解析/サポートベクターマシン(SVM).pptx
resources/auto_pptx/多変量解析/ラグランジュの未定乗数法+KKT条件.pptx
resources/auto_pptx/多変量解析/主成分分析(PCA).pptx
resources/auto_pptx/多変量解析/部分最小二乗回帰.pptx
resources/auto_pptx/多変量解析/重回帰分析.pptx
resource/~$サポートベクターマシン(SVM).pptx
resource/~$主成分分析(PCA).pptx
resource/~$ラグランジュの未定乗数法+KKT条件.pptx
